@model UserModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "User Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>User</h4>
    <hr />
    
    <!--
        Partial views are used for rounding up common parts of the views.
        They can be used with or without model.
    -->
    <partial name="_Details" model="Model" />
    <!-- created under Views\Users\_Details.cshtml and this view's model is passed to the partial view to show model data -->

</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    @* ? means Model object of type UserModel can be null, therefore it prevents null reference exception *@

    <a asp-action="GetList">Back to List</a>
</div>



